*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
framesequence/src/main/libs/armeabi/cwebp
framesequence/src/main/libs/armeabi/dwebp
framesequence/src/main/libs/armeabi/img2webp_example
framesequence/src/main/libs/armeabi/libframesequence.so
framesequence/src/main/libs/armeabi/webpmux_example
framesequence/src/main/obj/local/armeabi/cwebp
framesequence/src/main/obj/local/armeabi/dwebp
framesequence/src/main/obj/local/armeabi/img2webp_example
framesequence/src/main/obj/local/armeabi/libexample_util.a
framesequence/src/main/obj/local/armeabi/libframesequence.so
*.a
*.o
*.d
framesequence/src/main/obj/local/armeabi/webpmux_example
